<!-- Start slider  -->
<section id="mu-slider">
    <div class="mu-slider-area">

        <!-- Top slider -->
        <div class="mu-top-slider">

            <!-- Top slider single slide -->
            <div class="mu-top-slider-single" *ngFor="let page of pages">
                <img src="assets/img/slider/1.jpeg" alt="img" *ngIf="!page.Achtergrond">
                <img src="{{imageEndpoint}}/{{page.Achtergrond.url}}" alt="img" *ngIf="page.Achtergrond">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">{{page.Titel}}</span>
                    <h2 class="mu-slider-title">{{page.Subtitel}}</h2>
                    <p>{{page.Beschrijving}}</p>
                    <!-- <a href="#mu-reservation" class="mu-readmore-btn mu-reservation-btn">BOOK A TABLE</a> -->
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->

        </div>
    </div>
</section>
<!-- End slider  -->