<app-navigation-bar [showNavigation]="false"></app-navigation-bar>

<!-- Start slider  -->
<section id="mu-slider" class="mu-slider-livefeed">
    <div class="mu-slider-area mu-slider-livefeed">

        <!-- Top slider -->
        <div class="mu-top-slider mu-slider-livefeed">

            <!-- Top slider single slide -->
            <div class="mu-top-slider-single mu-slider-livefeed" *ngFor="let page of pages">
                <img src="{{imageEndpoint}}/{{page.BackgroundImage.url}}" alt="img" class="mu-slider-livefeed">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title header-color">{{ page.Title }}</span>
                    <h2 class="mu-slider-title">{{ page.Subtitle }}</h2>
                    <p>{{ page.Subtext }}</p>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->

        </div>
    </div>
</section>
<!-- End slider  -->