<!-- Start About us -->
<section id="mu-default">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-default-area">
                    <div class="mu-title">
                        <span class="mu-subtitle">{{ subTitle }}</span>
                        <h2>{{ pageTitle }}</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mu-default-left" [innerHTML]="pageLeftHtml"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="mu-about-us-right" [innerHTML]="pageRightHtml">

                                <div _ngcontent-ptb-c1="" class="mu-contact-right">
                                    <div _ngcontent-ptb-c1="" class="mu-contact-widget">
                                        <h3 _ngcontent-ptb-c1="">Adres</h3>
                                        <p _ngcontent-ptb-c1="">Goede Koffie | Lekkere Wijn | Speciaal Bier | Hapjes |
                                            Drankjes | Lunch | Vrijdagavond BigBottles | Live Muziek | Thema Avonden | &
                                            nog veel meer!</p>
                                        <address _ngcontent-ptb-c1="">
                                            <p _ngcontent-ptb-c1=""><i _ngcontent-ptb-c1="" class="fa fa-phone"></i>
                                                (073) 689 7641</p>
                                            <p _ngcontent-ptb-c1=""><i _ngcontent-ptb-c1=""
                                                    class="fa fa-envelope-o"></i>info@cafebottles.nl</p>
                                            <p _ngcontent-ptb-c1=""><i _ngcontent-ptb-c1=""
                                                    class="fa fa-map-marker"></i>De Driesprong 34, 5241 TJ, Rosmalen</p>
                                        </address>
                                    </div>
                                    <div _ngcontent-ptb-c1="" class="mu-contact-widget">
                                        <h3 _ngcontent-ptb-c1="">Openingstijden</h3>
                                        <address _ngcontent-ptb-c1="">
                                            <p _ngcontent-ptb-c1=""><span _ngcontent-ptb-c1="">Maandag</span>
                                                11:00 - 00:00</p>
                                            <p _ngcontent-ptb-c1=""><span _ngcontent-ptb-c1="">Dinsdag t/m Woensdag</span>
                                                10:00 - 00:00</p>
                                            <p _ngcontent-ptb-c1=""><span _ngcontent-ptb-c1="">Donderdag t/m Zaterdag</span> 
                                                10:00 - 02:00</p>
                                            <p _ngcontent-ptb-c1=""><span _ngcontent-ptb-c1="">Zondag</span> 
                                                11:00 - 00:00</p>
                                        </address>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About us -->