<app-navigation-bar></app-navigation-bar>

<app-slider-block *ngIf="config.HeaderSlider_Zichtbaar"></app-slider-block>

<app-about-us *ngIf="config.OverOns_Zichtbaar"></app-about-us>

<app-counter *ngIf="config.Counter_Zichtbaar"></app-counter>

<app-menu *ngIf="config.Menu_Zichtbaar"></app-menu>

<app-gallery *ngIf="config.Gallerij_Zichtbaar"></app-gallery>

<app-staff *ngIf="config.Personeel_Zichtbaar"></app-staff>

<app-contact *ngIf="config.Contact_Zichtbaar"></app-contact>

<app-map></app-map>

<app-footer></app-footer>